{%- style -%}
  {% render 'section-style' %}

  .section-{{ section.id }}-padding {
    {% if section.settings.full_width != false %}
      padding-top: calc({{ section.settings.padding_top }}px * 0.75);
      padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    {% else %}
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    {% endif %}
  }

  @media screen and (min-width: 749px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }


  /* Bordure */
  {% if section.settings.divider_option == 'space' %}
    .divider_wide {
      padding-top:{{ section.settings.space_two_element }}px;
    }
  {% elsif section.settings.divider_option == 'wave_custom' %}
    #wave_custom {
      padding: 0;
      left: calc(-0%/2);
      width: calc(100% + 0%);
    }
   {% elsif section.settings.divider_option == 'border_custom' %}
     #border_custom {
       padding: 0;
       left: calc(-0%/2);
       width: calc(100% + 0%);
    }  
  {% endif %}

    #shopify-section-{{ section.id }} .border_svg_top svg {
      margin-bottom: -10px;
    }
    #shopify-section-{{ section.id }} .border_svg_bottom svg {
      margin-bottom: -10px;
    }
  
  .section-{{ section.id }}.wave_custom1 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom2 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom3 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom4 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom5 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom6 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom7 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom8 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom9 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom10 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom11 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom12 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
{%- endstyle -%}


<div class="{% if section.settings.full_width != true %}page-width{% endif %} section-{{ section.id }}-padding">

<!-- SVG Border Fireweb -->
  <div class="border_svg_top">
    {% if section.settings.divider_option == 'border_custom' %}
      {%if section.settings.svg_border_top != blank %}
        {{ section.settings.svg_border_top }}
      {% endif %}
    {% endif %}
  </div>
<!-- END SVG Border Fireweb -->
  
{% if section.settings.divider_option == 'wave_custom' %}
  {% if section.settings.reverse %}
    {% assign reverse = "transform:rotate(180deg); transition: 0.3s; margin-top: -10px;" %}
  {% else %}
    {% assign reverse = "transform:rotate(0deg); transition: 0.3s; margin-bottom: -10px;" %}
  {% endif %}
  {% case section.settings.wave_custom %}
      {% when "1" %}
      <svg id="wave_custom1" class="wave_custom1" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 100"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,60L16,63.3C32,67,64,73,96,73.3C128,73,160,67,192,68.3C224,70,256,80,288,83.3C320,87,352,83,384,70C416,57,448,33,480,20C512,7,544,3,576,3.3C608,3,640,7,672,16.7C704,27,736,43,768,56.7C800,70,832,80,864,78.3C896,77,928,63,960,61.7C992,60,1024,70,1056,66.7C1088,63,1120,47,1152,46.7C1184,47,1216,63,1248,71.7C1280,80,1312,80,1344,76.7C1376,73,1408,67,1440,58.3C1472,50,1504,40,1536,40C1568,40,1600,50,1632,46.7C1664,43,1696,27,1728,30C1760,33,1792,57,1824,56.7C1856,57,1888,33,1920,20C1952,7,1984,3,2016,16.7C2048,30,2080,60,2112,75C2144,90,2176,90,2208,83.3C2240,77,2272,63,2288,56.7L2304,50L2304,100L2288,100C2272,100,2240,100,2208,100C2176,100,2144,100,2112,100C2080,100,2048,100,2016,100C1984,100,1952,100,1920,100C1888,100,1856,100,1824,100C1792,100,1760,100,1728,100C1696,100,1664,100,1632,100C1600,100,1568,100,1536,100C1504,100,1472,100,1440,100C1408,100,1376,100,1344,100C1312,100,1280,100,1248,100C1216,100,1184,100,1152,100C1120,100,1088,100,1056,100C1024,100,992,100,960,100C928,100,896,100,864,100C832,100,800,100,768,100C736,100,704,100,672,100C640,100,608,100,576,100C544,100,512,100,480,100C448,100,416,100,384,100C352,100,320,100,288,100C256,100,224,100,192,100C160,100,128,100,96,100C64,100,32,100,16,100L0,100Z"></path></svg>
      {% when "2" %}
      <svg id="wave_custom2" class="wave_custom2" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 100"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,60L34.3,63.3C68.6,67,137,73,206,73.3C274.3,73,343,67,411,68.3C480,70,549,80,617,83.3C685.7,87,754,83,823,70C891.4,57,960,33,1029,20C1097.1,7,1166,3,1234,3.3C1302.9,3,1371,7,1440,16.7C1508.6,27,1577,43,1646,56.7C1714.3,70,1783,80,1851,78.3C1920,77,1989,63,2057,61.7C2125.7,60,2194,70,2263,66.7C2331.4,63,2400,47,2469,46.7C2537.1,47,2606,63,2674,71.7C2742.9,80,2811,80,2880,76.7C2948.6,73,3017,67,3086,58.3C3154.3,50,3223,40,3291,40C3360,40,3429,50,3497,46.7C3565.7,43,3634,27,3703,30C3771.4,33,3840,57,3909,56.7C3977.1,57,4046,33,4114,20C4182.9,7,4251,3,4320,16.7C4388.6,30,4457,60,4526,75C4594.3,90,4663,90,4731,83.3C4800,77,4869,63,4903,56.7L4937.1,50L4937.1,100L4902.9,100C4868.6,100,4800,100,4731,100C4662.9,100,4594,100,4526,100C4457.1,100,4389,100,4320,100C4251.4,100,4183,100,4114,100C4045.7,100,3977,100,3909,100C3840,100,3771,100,3703,100C3634.3,100,3566,100,3497,100C3428.6,100,3360,100,3291,100C3222.9,100,3154,100,3086,100C3017.1,100,2949,100,2880,100C2811.4,100,2743,100,2674,100C2605.7,100,2537,100,2469,100C2400,100,2331,100,2263,100C2194.3,100,2126,100,2057,100C1988.6,100,1920,100,1851,100C1782.9,100,1714,100,1646,100C1577.1,100,1509,100,1440,100C1371.4,100,1303,100,1234,100C1165.7,100,1097,100,1029,100C960,100,891,100,823,100C754.3,100,686,100,617,100C548.6,100,480,100,411,100C342.9,100,274,100,206,100C137.1,100,69,100,34,100L0,100Z"></path></svg>
      {% when "3" %}
      <svg id="wave_custom3" class="wave_custom3" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 220"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,176L48,161.3C96,147,192,117,288,99C384,81,480,73,576,91.7C672,110,768,154,864,176C960,198,1056,198,1152,198C1248,198,1344,198,1440,183.3C1536,169,1632,139,1728,117.3C1824,95,1920,81,2016,73.3C2112,66,2208,66,2304,55C2400,44,2496,22,2592,29.3C2688,37,2784,73,2880,73.3C2976,73,3072,37,3168,47.7C3264,59,3360,117,3456,150.3C3552,183,3648,191,3744,176C3840,161,3936,125,4032,106.3C4128,88,4224,88,4320,84.3C4416,81,4512,73,4608,84.3C4704,95,4800,125,4896,113.7C4992,103,5088,51,5184,36.7C5280,22,5376,44,5472,47.7C5568,51,5664,37,5760,25.7C5856,15,5952,7,6048,25.7C6144,44,6240,88,6336,88C6432,88,6528,44,6624,25.7C6720,7,6816,15,6864,18.3L6912,22L6912,220L6864,220C6816,220,6720,220,6624,220C6528,220,6432,220,6336,220C6240,220,6144,220,6048,220C5952,220,5856,220,5760,220C5664,220,5568,220,5472,220C5376,220,5280,220,5184,220C5088,220,4992,220,4896,220C4800,220,4704,220,4608,220C4512,220,4416,220,4320,220C4224,220,4128,220,4032,220C3936,220,3840,220,3744,220C3648,220,3552,220,3456,220C3360,220,3264,220,3168,220C3072,220,2976,220,2880,220C2784,220,2688,220,2592,220C2496,220,2400,220,2304,220C2208,220,2112,220,2016,220C1920,220,1824,220,1728,220C1632,220,1536,220,1440,220C1344,220,1248,220,1152,220C1056,220,960,220,864,220C768,220,672,220,576,220C480,220,384,220,288,220C192,220,96,220,48,220L0,220Z"></path></svg>
      {% when "4" %}
      <svg id="wave_custom" class="wave_custom4" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 220"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,132L1440,176L2880,132L4320,198L5760,176L7200,22L8640,0L10080,22L11520,132L12960,198L14400,110L15840,176L17280,66L18720,176L20160,176L21600,132L23040,66L24480,132L25920,22L27360,176L28800,22L30240,0L31680,198L33120,198L34560,110L34560,220L33120,220L31680,220L30240,220L28800,220L27360,220L25920,220L24480,220L23040,220L21600,220L20160,220L18720,220L17280,220L15840,220L14400,220L12960,220L11520,220L10080,220L8640,220L7200,220L5760,220L4320,220L2880,220L1440,220L0,220Z"></path></svg>
      {% when "5" %}
      <svg id="wave_custom" class="wave_custom5" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 220"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,176L1440,88L2880,66L4320,198L5760,198L7200,198L8640,110L10080,66L11520,66L12960,0L14400,110L15840,0L17280,176L18720,198L20160,88L21600,88L23040,66L24480,154L25920,0L27360,66L28800,22L30240,0L31680,132L33120,0L34560,22L34560,220L33120,220L31680,220L30240,220L28800,220L27360,220L25920,220L24480,220L23040,220L21600,220L20160,220L18720,220L17280,220L15840,220L14400,220L12960,220L11520,220L10080,220L8640,220L7200,220L5760,220L4320,220L2880,220L1440,220L0,220Z"></path></svg>
      {% when "6" %}
      <svg id="wave_custom" class="wave_custom6" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 220"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,22L48,29.3C96,37,192,51,288,80.7C384,110,480,154,576,176C672,198,768,198,864,168.7C960,139,1056,81,1152,69.7C1248,59,1344,95,1440,102.7C1536,110,1632,88,1728,95.3C1824,103,1920,139,2016,132C2112,125,2208,73,2304,77C2400,81,2496,139,2592,150.3C2688,161,2784,125,2880,124.7C2976,125,3072,161,3168,172.3C3264,183,3360,169,3456,165C3552,161,3648,169,3744,176C3840,183,3936,191,4032,183.3C4128,176,4224,154,4320,135.7C4416,117,4512,103,4608,99C4704,95,4800,103,4896,113.7C4992,125,5088,139,5184,135.7C5280,132,5376,110,5472,84.3C5568,59,5664,29,5760,14.7C5856,0,5952,0,6048,14.7C6144,29,6240,59,6336,66C6432,73,6528,59,6624,47.7C6720,37,6816,29,6864,25.7L6912,22L6912,220L6864,220C6816,220,6720,220,6624,220C6528,220,6432,220,6336,220C6240,220,6144,220,6048,220C5952,220,5856,220,5760,220C5664,220,5568,220,5472,220C5376,220,5280,220,5184,220C5088,220,4992,220,4896,220C4800,220,4704,220,4608,220C4512,220,4416,220,4320,220C4224,220,4128,220,4032,220C3936,220,3840,220,3744,220C3648,220,3552,220,3456,220C3360,220,3264,220,3168,220C3072,220,2976,220,2880,220C2784,220,2688,220,2592,220C2496,220,2400,220,2304,220C2208,220,2112,220,2016,220C1920,220,1824,220,1728,220C1632,220,1536,220,1440,220C1344,220,1248,220,1152,220C1056,220,960,220,864,220C768,220,672,220,576,220C480,220,384,220,288,220C192,220,96,220,48,220L0,220Z"></path></svg>
      {% when "7" %}
      <svg id="wave_custom" class="wave_custom7" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 110"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,11L120,25.7C240,40,480,70,720,67.8C960,66,1200,33,1440,16.5C1680,0,1920,0,2160,1.8C2400,4,2640,7,2880,11C3120,15,3360,18,3600,18.3C3840,18,4080,15,4320,23.8C4560,33,4800,55,5040,53.2C5280,51,5520,26,5760,20.2C6000,15,6240,29,6480,31.2C6720,33,6960,22,7200,29.3C7440,37,7680,62,7920,60.5C8160,59,8400,29,8640,29.3C8880,29,9120,59,9360,71.5C9600,84,9840,81,10080,71.5C10320,62,10560,48,10800,38.5C11040,29,11280,26,11520,31.2C11760,37,12000,51,12240,60.5C12480,70,12720,73,12960,73.3C13200,73,13440,70,13680,73.3C13920,77,14160,88,14400,93.5C14640,99,14880,99,15120,89.8C15360,81,15600,62,15840,47.7C16080,33,16320,22,16560,23.8C16800,26,17040,40,17160,47.7L17280,55L17280,110L17160,110C17040,110,16800,110,16560,110C16320,110,16080,110,15840,110C15600,110,15360,110,15120,110C14880,110,14640,110,14400,110C14160,110,13920,110,13680,110C13440,110,13200,110,12960,110C12720,110,12480,110,12240,110C12000,110,11760,110,11520,110C11280,110,11040,110,10800,110C10560,110,10320,110,10080,110C9840,110,9600,110,9360,110C9120,110,8880,110,8640,110C8400,110,8160,110,7920,110C7680,110,7440,110,7200,110C6960,110,6720,110,6480,110C6240,110,6000,110,5760,110C5520,110,5280,110,5040,110C4800,110,4560,110,4320,110C4080,110,3840,110,3600,110C3360,110,3120,110,2880,110C2640,110,2400,110,2160,110C1920,110,1680,110,1440,110C1200,110,960,110,720,110C480,110,240,110,120,110L0,110Z"></path></svg>
      {% when "8" %}
      <svg id="wave_custom" class="wave_custom8" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 110"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,0L20,7.3C40,15,80,29,120,33C160,37,200,29,240,25.7C280,22,320,22,360,22C400,22,440,22,480,29.3C520,37,560,51,600,55C640,59,680,51,720,47.7C760,44,800,44,840,47.7C880,51,920,59,960,51.3C1000,44,1040,22,1080,18.3C1120,15,1160,29,1200,42.2C1240,55,1280,66,1320,64.2C1360,62,1400,48,1440,44C1480,40,1520,48,1560,58.7C1600,70,1640,84,1680,84.3C1720,84,1760,70,1800,64.2C1840,59,1880,62,1920,67.8C1960,73,2000,81,2040,75.2C2080,70,2120,51,2160,51.3C2200,51,2240,70,2280,71.5C2320,73,2360,59,2400,58.7C2440,59,2480,73,2520,69.7C2560,66,2600,44,2640,42.2C2680,40,2720,59,2760,71.5C2800,84,2840,92,2860,95.3L2880,99L2880,110L2860,110C2840,110,2800,110,2760,110C2720,110,2680,110,2640,110C2600,110,2560,110,2520,110C2480,110,2440,110,2400,110C2360,110,2320,110,2280,110C2240,110,2200,110,2160,110C2120,110,2080,110,2040,110C2000,110,1960,110,1920,110C1880,110,1840,110,1800,110C1760,110,1720,110,1680,110C1640,110,1600,110,1560,110C1520,110,1480,110,1440,110C1400,110,1360,110,1320,110C1280,110,1240,110,1200,110C1160,110,1120,110,1080,110C1040,110,1000,110,960,110C920,110,880,110,840,110C800,110,760,110,720,110C680,110,640,110,600,110C560,110,520,110,480,110C440,110,400,110,360,110C320,110,280,110,240,110C200,110,160,110,120,110C80,110,40,110,20,110L0,110Z"></path></svg>
      {% when "9" %}
      <svg id="wave_custom" class="wave_custom9" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 110"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,88L1440,0L2880,88L4320,99L5760,77L7200,0L8640,0L10080,11L11520,99L12960,99L14400,77L15840,44L17280,33L18720,77L20160,88L21600,77L23040,22L24480,55L25920,33L27360,55L28800,33L30240,88L31680,22L33120,33L34560,88L34560,110L33120,110L31680,110L30240,110L28800,110L27360,110L25920,110L24480,110L23040,110L21600,110L20160,110L18720,110L17280,110L15840,110L14400,110L12960,110L11520,110L10080,110L8640,110L7200,110L5760,110L4320,110L2880,110L1440,110L0,110Z"></path></svg>  
      {% when "10" %}
      <svg id="wave_custom" class="wave_custom10" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 110"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,22L1440,88L2880,22L4320,88L5760,44L7200,22L8640,11L10080,44L11520,77L12960,77L14400,55L15840,0L17280,33L18720,22L20160,11L21600,22L23040,22L24480,55L25920,33L27360,99L28800,33L30240,88L31680,11L33120,88L34560,22L34560,110L33120,110L31680,110L30240,110L28800,110L27360,110L25920,110L24480,110L23040,110L21600,110L20160,110L18720,110L17280,110L15840,110L14400,110L12960,110L11520,110L10080,110L8640,110L7200,110L5760,110L4320,110L2880,110L1440,110L0,110Z"></path></svg>
      {% when "11" %}
      <svg id="wave_custom" class="wave_custom11" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 591.9 25.4"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,6.1v19.3h591.9V6.1C341-16.5,207.9,38.5,0,6.1z"></path></svg>
      {% when "12" %}
      <svg id="wave_custom" class="wave_custom12" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 2000 85"> <polygon style="fill: {{ section.settings.color_border_svg }};" points="0,0 0,85 2000,85 2000,0 1000.2,82 "></polygon></svg>
  {% endcase %}
{% endif %}

<!-- SVG Border Fireweb -->
  <div class="border_svg_bottom">
    {% if section.settings.divider_option == 'border_custom' %}
      {%if section.settings.svg_border_bottom != blank %}
        {{ section.settings.svg_border_bottom }}
      {% endif %}
    {% endif %}
  </div>
<!-- END SVG Border Fireweb -->
  
</div>


{% schema %}
{
  "name": "Bordure personnalisée",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "🚀 SVG BORDURE",
      "info": "👉 Optimisation Fireweb avec le SVG code"
    },
    {
      "type": "select",
      "id": "divider_option",
      "label": "Style de bordure",
      "default": "space",
      "options": [
        {
          "value": "space",
          "label": "Marge"
        },
        {
          "value": "wave_custom",
          "label": "🔀 SVG Vague"
        },
        {
          "value": "border_custom",
          "label": "🪄 SVG Personnalisé"
        }
      ]
    },
    {
      "type": "select",
      "id": "wave_custom",
      "options": [
        { "value": "1", "label": "Style 1"},
        { "value": "2", "label": "Style 2"},
        { "value": "3", "label": "Style 3"},
        { "value": "4", "label": "Style 4"},
        { "value": "5", "label": "Style 5"},
        { "value": "6", "label": "Style 6"},
        { "value": "7", "label": "Style 7"},
        { "value": "8", "label": "Style 8"},
        { "value": "9", "label": "Style 9"},
        { "value": "10", "label": "Style 10"},
        { "value": "11", "label": "Style 11"},
        { "value": "12", "label": "Style 12"}
      ],
      "default": "8",
      "label": "Style de vague"
    },
    {
      "type": "checkbox",
      "id": "reverse",
      "label": "Tourner à 180°",
      "default": false
    },
    {
        "type": "color",
        "id": "color_border_fond_svg",
        "label": "Couleur du fond",
        "default": "#FFF"
    },
    {
        "type": "color",
        "id": "color_border_svg",
        "label": "Couleur du SVG",
        "default": "#000"
    },
    {
      "type": "header",
      "content": "🚀 SVG BORDURE PERSONNALISÉ",
      "info": "👉 Optimisation Fireweb avec le SVG code"
    },
    {
      "type":"html",
      "id":"svg_border_top",
      "label":"🔼 SVG Code Supérieur"
    },
    {
      "type":"html",
      "id":"svg_border_bottom",
      "label":"🔽 SVG Code Inférieur"
    },
    {
      "type": "header",
      "content": "Mise en page"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Activer la pleine largeur de la page"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Ordinateur"
    },
    {
      "type": "checkbox",
      "id": "offdesk",
      "default": false,
      "label": "Cacher la section"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "checkbox",
      "id": "offmob",
      "default": false,
      "label": "Cacher la section"
    }
  ],
  "presets": [
    {
      "name": "Bordure personnalisée"
    }
  ]
}
{% endschema %}
