{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  {% render 'section-style' %}

  {% render 'animation-hover-footer' %}

  .footer__content-bottom {
    background-color: {{ section.settings.background_footer-second }};
  }

  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  /* Style de bordure supérieur */
  #wave {
    background-color: {{ settings.colors_background_1 }};
    fill: {{ section.settings.color_scheme }};
    padding: 0;
    margin-bottom: -1px;
  }
  #shopify-section-{{ section.id }} .footerwave_svg {
    width: 100%;
    overflow: hidden;
    text-align: center;
    z-index: 1;
    left: 0;
  }
  #shopify-section-{{ section.id }} .footerwave_svg #wave {
      display: block;
    }
  @media screen and (min-width: 768px) {
  #shopify-section-{{ section.id }} .footerwave_svg #wave {
      width: calc(100% + 0%);
      left: calc(-0%/2);
      position: relative;
    }
  }
  @media screen and (max-width: 768px) {
    #shopify-section-{{ section.id }} .footerwave_svg #wave {
      width: calc(100% + 0%);
      left: calc(-0%/2);
      position: relative;
    }
  }

  /*--- CSS Bordure personnalisé Fireweb ---*/
  #shopify-section-{{ section.id }} .footerborder_svg {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    z-index: 1;
  }
  #shopify-section-{{ section.id }} .footerborder_svg svg {
      display: block;
    }
  @media screen and (min-width: 768px) {
  #shopify-section-{{ section.id }} .footerborder_svg svg {
      position: relative;
      width: calc(100% + 1.3px);
      height: 100px;
      fill: #fff;
      margin-top: -1px;
    }
  }
  @media screen and (max-width: 768px) {
    #shopify-section-{{ section.id }} .footerborder_svg svg {
      position: relative;
      width: calc(100% + 1.3px);
      height: 50px;
      fill: #fff;
      margin-top: -1px;
    }
  }
  
  .section-{{ section.id }}.wave_custom1 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom2 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom3 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom4 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom5 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom6 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom7 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom8 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom9 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }
  .section-{{ section.id }}.wave_custom10 {
      background-color: {{ section.settings.color_border_fond_svg }};
      fill: {{ section.settings.color_border_svg }};
    }

  /* Bloc texte */
  @media screen and (min-width: 750px) {
    .footer-block__details-content > p {
        margin-right: 1.5rem;
        font-size: 1.4rem;
    }
  }

  {%- for block in section.blocks -%}
    /* Image SVG */
    .footer-block-image svg {
      width: {{ block.settings.image_width }}px;
    }

    /* Image mobile */
    @media screen and (max-width: 990px) {
      .footer-block-image > img, .logo-footer svg {
        width: calc({{ block.settings.image_width }}px - 20px);
      }
    }

    /* Menu */
    @media screen and (min-width: 749px) {
      .link_list--accordion {
        display: none;
      }
    }
    @media screen and (max-width: 749px) {
      .link_list_accordion, .title_menu {
        display: none;
      }
    }
  {%- endfor -%}

  .band_footer {
     bottom: 0;
     margin:0;
     color: white;
     padding-block: {{ section.settings.footer_band_height_desktop }};
     /*position: fixed;*/
     text-align: center;
     width: 100%;
     z-index:1;
     letter-spacing:1px;
     font-weight:{{ section.settings.footer_band_text_style }};
  }

  .band_footer{
     background-color:{{ section.settings.footer_band_bg_color }};
     color:{{ section.settings.footer_band_text_color }};
     font-size:{{ section.settings.footer_band_text_size }};
  }
  .mob_only, .band_footer a {
     text-decoration: none;
     color:{{ section.settings.footer_band_text_color }};
  }
  .band_footer a:hover{
     color:{{ section.settings.footer_band_link_hover_color }}!important;
  } 
 
  @media screen and (min-width: 240px) and (max-width: 481px) {
  .desk_only {
    display: none !important;
  }
  {% if section.settings.m_footer_band_text != blank %}
  .band_footer {
    display: none;
  }
  {% endif %}
  .mob_only{
    display: block !important;
  }
  }  

  .band_footer{
     border-top: {{ section.settings.footer_band_top_border_width }} solid {{ section.settings.footer_band_top_border_color }};
  }

  
{%- endstyle -%}

  
<footer class="footer color-{{ section.settings.color_scheme }} gradient">

  <!-- SVG Border Fireweb -->
    <div class="footerborder_svg">
      {%if section.settings.svg_border_top != blank %}
        {{ section.settings.svg_border_top }}
      {% endif %}
    </div>   
  <!-- END SVG Border Fireweb -->
  
  <!-- Style de bordure supérieur -->
  <div class="footerwave_svg">
  {% if section.settings.vague %}
  {% case section.settings.wave %}
      {% when "1" %}
      <svg id="wave" class="wave_custom1" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 100"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,60L16,63.3C32,67,64,73,96,73.3C128,73,160,67,192,68.3C224,70,256,80,288,83.3C320,87,352,83,384,70C416,57,448,33,480,20C512,7,544,3,576,3.3C608,3,640,7,672,16.7C704,27,736,43,768,56.7C800,70,832,80,864,78.3C896,77,928,63,960,61.7C992,60,1024,70,1056,66.7C1088,63,1120,47,1152,46.7C1184,47,1216,63,1248,71.7C1280,80,1312,80,1344,76.7C1376,73,1408,67,1440,58.3C1472,50,1504,40,1536,40C1568,40,1600,50,1632,46.7C1664,43,1696,27,1728,30C1760,33,1792,57,1824,56.7C1856,57,1888,33,1920,20C1952,7,1984,3,2016,16.7C2048,30,2080,60,2112,75C2144,90,2176,90,2208,83.3C2240,77,2272,63,2288,56.7L2304,50L2304,100L2288,100C2272,100,2240,100,2208,100C2176,100,2144,100,2112,100C2080,100,2048,100,2016,100C1984,100,1952,100,1920,100C1888,100,1856,100,1824,100C1792,100,1760,100,1728,100C1696,100,1664,100,1632,100C1600,100,1568,100,1536,100C1504,100,1472,100,1440,100C1408,100,1376,100,1344,100C1312,100,1280,100,1248,100C1216,100,1184,100,1152,100C1120,100,1088,100,1056,100C1024,100,992,100,960,100C928,100,896,100,864,100C832,100,800,100,768,100C736,100,704,100,672,100C640,100,608,100,576,100C544,100,512,100,480,100C448,100,416,100,384,100C352,100,320,100,288,100C256,100,224,100,192,100C160,100,128,100,96,100C64,100,32,100,16,100L0,100Z"></path></svg>
      {% when "2" %}
      <svg id="wave" class="wave_custom2" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 100"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,60L34.3,63.3C68.6,67,137,73,206,73.3C274.3,73,343,67,411,68.3C480,70,549,80,617,83.3C685.7,87,754,83,823,70C891.4,57,960,33,1029,20C1097.1,7,1166,3,1234,3.3C1302.9,3,1371,7,1440,16.7C1508.6,27,1577,43,1646,56.7C1714.3,70,1783,80,1851,78.3C1920,77,1989,63,2057,61.7C2125.7,60,2194,70,2263,66.7C2331.4,63,2400,47,2469,46.7C2537.1,47,2606,63,2674,71.7C2742.9,80,2811,80,2880,76.7C2948.6,73,3017,67,3086,58.3C3154.3,50,3223,40,3291,40C3360,40,3429,50,3497,46.7C3565.7,43,3634,27,3703,30C3771.4,33,3840,57,3909,56.7C3977.1,57,4046,33,4114,20C4182.9,7,4251,3,4320,16.7C4388.6,30,4457,60,4526,75C4594.3,90,4663,90,4731,83.3C4800,77,4869,63,4903,56.7L4937.1,50L4937.1,100L4902.9,100C4868.6,100,4800,100,4731,100C4662.9,100,4594,100,4526,100C4457.1,100,4389,100,4320,100C4251.4,100,4183,100,4114,100C4045.7,100,3977,100,3909,100C3840,100,3771,100,3703,100C3634.3,100,3566,100,3497,100C3428.6,100,3360,100,3291,100C3222.9,100,3154,100,3086,100C3017.1,100,2949,100,2880,100C2811.4,100,2743,100,2674,100C2605.7,100,2537,100,2469,100C2400,100,2331,100,2263,100C2194.3,100,2126,100,2057,100C1988.6,100,1920,100,1851,100C1782.9,100,1714,100,1646,100C1577.1,100,1509,100,1440,100C1371.4,100,1303,100,1234,100C1165.7,100,1097,100,1029,100C960,100,891,100,823,100C754.3,100,686,100,617,100C548.6,100,480,100,411,100C342.9,100,274,100,206,100C137.1,100,69,100,34,100L0,100Z"></path></svg>
      {% when "3" %}
      <svg id="wave" class="wave_custom3" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 220"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,176L48,161.3C96,147,192,117,288,99C384,81,480,73,576,91.7C672,110,768,154,864,176C960,198,1056,198,1152,198C1248,198,1344,198,1440,183.3C1536,169,1632,139,1728,117.3C1824,95,1920,81,2016,73.3C2112,66,2208,66,2304,55C2400,44,2496,22,2592,29.3C2688,37,2784,73,2880,73.3C2976,73,3072,37,3168,47.7C3264,59,3360,117,3456,150.3C3552,183,3648,191,3744,176C3840,161,3936,125,4032,106.3C4128,88,4224,88,4320,84.3C4416,81,4512,73,4608,84.3C4704,95,4800,125,4896,113.7C4992,103,5088,51,5184,36.7C5280,22,5376,44,5472,47.7C5568,51,5664,37,5760,25.7C5856,15,5952,7,6048,25.7C6144,44,6240,88,6336,88C6432,88,6528,44,6624,25.7C6720,7,6816,15,6864,18.3L6912,22L6912,220L6864,220C6816,220,6720,220,6624,220C6528,220,6432,220,6336,220C6240,220,6144,220,6048,220C5952,220,5856,220,5760,220C5664,220,5568,220,5472,220C5376,220,5280,220,5184,220C5088,220,4992,220,4896,220C4800,220,4704,220,4608,220C4512,220,4416,220,4320,220C4224,220,4128,220,4032,220C3936,220,3840,220,3744,220C3648,220,3552,220,3456,220C3360,220,3264,220,3168,220C3072,220,2976,220,2880,220C2784,220,2688,220,2592,220C2496,220,2400,220,2304,220C2208,220,2112,220,2016,220C1920,220,1824,220,1728,220C1632,220,1536,220,1440,220C1344,220,1248,220,1152,220C1056,220,960,220,864,220C768,220,672,220,576,220C480,220,384,220,288,220C192,220,96,220,48,220L0,220Z"></path></svg>
      {% when "4" %}
      <svg id="wave" class="wave_custom4" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 220"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,132L1440,176L2880,132L4320,198L5760,176L7200,22L8640,0L10080,22L11520,132L12960,198L14400,110L15840,176L17280,66L18720,176L20160,176L21600,132L23040,66L24480,132L25920,22L27360,176L28800,22L30240,0L31680,198L33120,198L34560,110L34560,220L33120,220L31680,220L30240,220L28800,220L27360,220L25920,220L24480,220L23040,220L21600,220L20160,220L18720,220L17280,220L15840,220L14400,220L12960,220L11520,220L10080,220L8640,220L7200,220L5760,220L4320,220L2880,220L1440,220L0,220Z"></path></svg>
      {% when "5" %}
      <svg id="wave" class="wave_custom5" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 220"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,176L1440,88L2880,66L4320,198L5760,198L7200,198L8640,110L10080,66L11520,66L12960,0L14400,110L15840,0L17280,176L18720,198L20160,88L21600,88L23040,66L24480,154L25920,0L27360,66L28800,22L30240,0L31680,132L33120,0L34560,22L34560,220L33120,220L31680,220L30240,220L28800,220L27360,220L25920,220L24480,220L23040,220L21600,220L20160,220L18720,220L17280,220L15840,220L14400,220L12960,220L11520,220L10080,220L8640,220L7200,220L5760,220L4320,220L2880,220L1440,220L0,220Z"></path></svg>
      {% when "6" %}
      <svg id="wave" class="wave_custom6" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 220"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,22L48,29.3C96,37,192,51,288,80.7C384,110,480,154,576,176C672,198,768,198,864,168.7C960,139,1056,81,1152,69.7C1248,59,1344,95,1440,102.7C1536,110,1632,88,1728,95.3C1824,103,1920,139,2016,132C2112,125,2208,73,2304,77C2400,81,2496,139,2592,150.3C2688,161,2784,125,2880,124.7C2976,125,3072,161,3168,172.3C3264,183,3360,169,3456,165C3552,161,3648,169,3744,176C3840,183,3936,191,4032,183.3C4128,176,4224,154,4320,135.7C4416,117,4512,103,4608,99C4704,95,4800,103,4896,113.7C4992,125,5088,139,5184,135.7C5280,132,5376,110,5472,84.3C5568,59,5664,29,5760,14.7C5856,0,5952,0,6048,14.7C6144,29,6240,59,6336,66C6432,73,6528,59,6624,47.7C6720,37,6816,29,6864,25.7L6912,22L6912,220L6864,220C6816,220,6720,220,6624,220C6528,220,6432,220,6336,220C6240,220,6144,220,6048,220C5952,220,5856,220,5760,220C5664,220,5568,220,5472,220C5376,220,5280,220,5184,220C5088,220,4992,220,4896,220C4800,220,4704,220,4608,220C4512,220,4416,220,4320,220C4224,220,4128,220,4032,220C3936,220,3840,220,3744,220C3648,220,3552,220,3456,220C3360,220,3264,220,3168,220C3072,220,2976,220,2880,220C2784,220,2688,220,2592,220C2496,220,2400,220,2304,220C2208,220,2112,220,2016,220C1920,220,1824,220,1728,220C1632,220,1536,220,1440,220C1344,220,1248,220,1152,220C1056,220,960,220,864,220C768,220,672,220,576,220C480,220,384,220,288,220C192,220,96,220,48,220L0,220Z"></path></svg>
      {% when "7" %}
      <svg id="wave" class="wave_custom7" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 110"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,11L120,25.7C240,40,480,70,720,67.8C960,66,1200,33,1440,16.5C1680,0,1920,0,2160,1.8C2400,4,2640,7,2880,11C3120,15,3360,18,3600,18.3C3840,18,4080,15,4320,23.8C4560,33,4800,55,5040,53.2C5280,51,5520,26,5760,20.2C6000,15,6240,29,6480,31.2C6720,33,6960,22,7200,29.3C7440,37,7680,62,7920,60.5C8160,59,8400,29,8640,29.3C8880,29,9120,59,9360,71.5C9600,84,9840,81,10080,71.5C10320,62,10560,48,10800,38.5C11040,29,11280,26,11520,31.2C11760,37,12000,51,12240,60.5C12480,70,12720,73,12960,73.3C13200,73,13440,70,13680,73.3C13920,77,14160,88,14400,93.5C14640,99,14880,99,15120,89.8C15360,81,15600,62,15840,47.7C16080,33,16320,22,16560,23.8C16800,26,17040,40,17160,47.7L17280,55L17280,110L17160,110C17040,110,16800,110,16560,110C16320,110,16080,110,15840,110C15600,110,15360,110,15120,110C14880,110,14640,110,14400,110C14160,110,13920,110,13680,110C13440,110,13200,110,12960,110C12720,110,12480,110,12240,110C12000,110,11760,110,11520,110C11280,110,11040,110,10800,110C10560,110,10320,110,10080,110C9840,110,9600,110,9360,110C9120,110,8880,110,8640,110C8400,110,8160,110,7920,110C7680,110,7440,110,7200,110C6960,110,6720,110,6480,110C6240,110,6000,110,5760,110C5520,110,5280,110,5040,110C4800,110,4560,110,4320,110C4080,110,3840,110,3600,110C3360,110,3120,110,2880,110C2640,110,2400,110,2160,110C1920,110,1680,110,1440,110C1200,110,960,110,720,110C480,110,240,110,120,110L0,110Z"></path></svg>
      {% when "8" %}
      <svg id="wave" class="wave_custom8" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 110"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,0L20,7.3C40,15,80,29,120,33C160,37,200,29,240,25.7C280,22,320,22,360,22C400,22,440,22,480,29.3C520,37,560,51,600,55C640,59,680,51,720,47.7C760,44,800,44,840,47.7C880,51,920,59,960,51.3C1000,44,1040,22,1080,18.3C1120,15,1160,29,1200,42.2C1240,55,1280,66,1320,64.2C1360,62,1400,48,1440,44C1480,40,1520,48,1560,58.7C1600,70,1640,84,1680,84.3C1720,84,1760,70,1800,64.2C1840,59,1880,62,1920,67.8C1960,73,2000,81,2040,75.2C2080,70,2120,51,2160,51.3C2200,51,2240,70,2280,71.5C2320,73,2360,59,2400,58.7C2440,59,2480,73,2520,69.7C2560,66,2600,44,2640,42.2C2680,40,2720,59,2760,71.5C2800,84,2840,92,2860,95.3L2880,99L2880,110L2860,110C2840,110,2800,110,2760,110C2720,110,2680,110,2640,110C2600,110,2560,110,2520,110C2480,110,2440,110,2400,110C2360,110,2320,110,2280,110C2240,110,2200,110,2160,110C2120,110,2080,110,2040,110C2000,110,1960,110,1920,110C1880,110,1840,110,1800,110C1760,110,1720,110,1680,110C1640,110,1600,110,1560,110C1520,110,1480,110,1440,110C1400,110,1360,110,1320,110C1280,110,1240,110,1200,110C1160,110,1120,110,1080,110C1040,110,1000,110,960,110C920,110,880,110,840,110C800,110,760,110,720,110C680,110,640,110,600,110C560,110,520,110,480,110C440,110,400,110,360,110C320,110,280,110,240,110C200,110,160,110,120,110C80,110,40,110,20,110L0,110Z"></path></svg>
      {% when "9" %}
      <svg id="wave" class="wave_custom9" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 110"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,88L1440,0L2880,88L4320,99L5760,77L7200,0L8640,0L10080,11L11520,99L12960,99L14400,77L15840,44L17280,33L18720,77L20160,88L21600,77L23040,22L24480,55L25920,33L27360,55L28800,33L30240,88L31680,22L33120,33L34560,88L34560,110L33120,110L31680,110L30240,110L28800,110L27360,110L25920,110L24480,110L23040,110L21600,110L20160,110L18720,110L17280,110L15840,110L14400,110L12960,110L11520,110L10080,110L8640,110L7200,110L5760,110L4320,110L2880,110L1440,110L0,110Z"></path></svg>  
      {% when "10" %}
      <svg id="wave" class="wave_custom10" style="background-color: {{ section.settings.color_border_fond_svg }}; {{ reverse }}" viewBox="0 0 1440 110"><path style="fill: {{ section.settings.color_border_svg }};" d="M0,22L1440,88L2880,22L4320,88L5760,44L7200,22L8640,11L10080,44L11520,77L12960,77L14400,55L15840,0L17280,33L18720,22L20160,11L21600,22L23040,22L24480,55L25920,33L27360,99L28800,33L30240,88L31680,11L33120,88L34560,22L34560,110L33120,110L31680,110L30240,110L28800,110L27360,110L25920,110L24480,110L23040,110L21600,110L20160,110L18720,110L17280,110L15840,110L14400,110L12960,110L11520,110L10080,110L8640,110L7200,110L5760,110L4320,110L2880,110L1440,110L0,110Z"></path></svg>
  {% endcase %}
  {% endif %}
  </div>

  {%- if section.blocks.size > 0 -%}
    <div class="footer__content-top page-width section-{{ section.id }}-padding">
      {%- if section.blocks.size > 0 -%}
        {%- liquid
          if section.blocks.size == 5
            assign footer_grid_class = 'grid--5-col-desktop'
          elsif section.blocks.size > 4
            assign footer_grid_class = 'grid--4-col-tablet'
          endif
        -%}
        <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}">
          {%- for block in section.blocks -%}
            <div class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.heading != blank -%}
                <div class="footer-block__heading title_menu h2">{{- block.settings.heading | escape -}}</div>
              {%- endif -%}

              {%- case block.type -%}

                <!-- Texte -->
                {%- when 'text' -%}
                  <div class="footer-block__details-content rte{% if block.settings.offdesk-bloc %} offdesk{% endif %}{% if block.settings.offmob-bloc %} offmob{% endif %}">
                    {{ block.settings.subtext }}
                  </div>

                <!-- Menu -->
                {%- when 'link_list' -%}
                  {%- if block.settings.menu != blank and block.settings.heading != blank -%}

                    <!-- Menu sur ordinateur -->
                    <ul class="{% if block.settings.collapsible_menu != false %}link_list_accordion {% endif %}footer-block__details-content list-unstyled {% if block.settings.offdesk-bloc %} offdesk{% endif %}{% if block.settings.offmob-bloc %} offmob{% endif %}">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %} underline">
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                    
                    <!-- Menu sur mobile -->
                    {% if block.settings.collapsible_menu != false %}

                      <div class="link_list--accordion{% if section.settings.layout == 'row' %} content-container color-{{ section.settings.container_color_scheme }} gradient{% endif %}" {{ block.shopify_attributes }}>
                        <details id="Details-{{ block.id }}"{% if section.settings.open_first_collapsible_row and forloop.first %} open{% endif %}>
                          <summary id="Summary-{{ block.id }}">
                            {%- if block.settings.heading != blank -%}
                              <div class="footer-block__heading h2">{{- block.settings.heading | escape -}}</div>
                            {%- endif -%}
                            {% render 'icon-caret' %}
                          </summary>
                          <div class="accordion__content rte" id="CollapsibleAccordion-{{ block.id }}" role="region" aria-labelledby="Summary-{{ block.id }}">
                            {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                              <ul class="footer-block__details-content list-unstyled">
                                {%- for link in block.settings.menu.links -%}
                                  <li>
                                    <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                                      {{ link.title }}
                                    </a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            {%- endif -%}
                          </div>
                        </details>
                      </div>

                    {% endif %}

                  {% endif %}

                <!-- Image -->
                {%- when 'image' -%}
                  <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}{% if block.settings.offdesk-bloc %} offdesk{% endif %}{% if block.settings.offmob-bloc %} offmob{% endif %}">
                    {%- if block.settings.image != blank -%}
                      {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                      <img
                        srcset= "{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                        src="{{ block.settings.image | image_url: width: 400 }}"
                        alt="{{ block.settings.image.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}"
                        style="max-width: min(100%, {{ block.settings.image_width }}px);"
                      >
                    {%- elsif block.settings.image == blank and block.settings.svg_logo_footer != blank -%}
                      {{ block.settings.svg_logo_footer }}
                    {%- elsif block.settings.image == blank or block.settings.svg_logo_footer == blank -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                    {%- endif -%}
                  </div>

                <!-- Newsletter -->
                {%- when 'newsletter' -%}
                  <div class="footer-block--newsletter{% if block.settings.offdesk-bloc %} offdesk{% endif %}{% if block.settings.offmob-bloc %} offmob{% endif %}">
                    {%- if block.settings.newsletter_enable != true -%}
                      <div class="footer-block__newsletter">
                        {%- if block.settings.newsletter_heading != blank -%}
                          <div class="footer-block__heading h2">{{ block.settings.newsletter_heading | escape }}</div>
                        {%- endif -%}
                        {%- if block.settings.text != blank -%}
                          <div class="footer-block__details-content">{{ block.settings.text }}</div>
                        {%- endif -%}
                        {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                          <input type="hidden" name="contact[tags]" value="newsletter">
                          <div class="newsletter-form__field-wrapper">
                            <div class="field">
                              <input
                                id="NewsletterForm--{{ block.id }}"
                                type="email"
                                name="contact[email]"
                                class="field__input"
                                value="{{ form.email }}"
                                aria-required="true"
                                autocorrect="off"
                                autocapitalize="off"
                                autocomplete="email"
                                {% if form.errors %}
                                  autofocus
                                  aria-invalid="true"
                                  aria-describedby="ContactFooter-error"
                                {% elsif form.posted_successfully? %}
                                  aria-describedby="ContactFooter-success"
                                {% endif %}
                                placeholder="{{ 'newsletter.label' | t }}"
                                required
                              >
                              <label class="field__label" for="NewsletterForm--{{ block.id }}">
                                {{ 'newsletter.label' | t }}
                              </label>
                              <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                                {% render 'icon-arrow' %}
                              </button>
                            </div>
                            {%- if form.errors -%}
                              <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                            {%- endif -%}
                          </div>
                          {%- if form.posted_successfully? -%}
                            <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                          {%- endif -%}
                        {%- endform -%}
                      </div>
                    {% else %}
                      <div class="formulaire-klaviyo">
                        <div class="footer-block__heading h2">{{ block.settings.newsletter_heading | escape }}</div>
                        {{ block.settings.code_grand_formulaire }}
                      </div>
                    {% endif %}

                    {%- if block.settings.show_social -%}
                      <ul class="footer__list-social list-unstyled list-social" role="list">
                        {%- if settings.social_twitter_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_twitter_link }}" class="link list-social__link" target="_blank">
                              {%- render 'icon-twitter' -%}
                              <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_facebook_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_facebook_link }}" class="link list-social__link" target="_blank">
                              {%- render 'icon-facebook' -%}
                              <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_pinterest_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" target="_blank">
                              {%- render 'icon-pinterest' -%}
                              <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_instagram_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_instagram_link }}" class="link list-social__link" target="_blank">
                              {%- render 'icon-instagram' -%}
                              <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_tiktok_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" target="_blank">
                              {%- render 'icon-tiktok' -%}
                              <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_tumblr_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" target="_blank">
                              {%- render 'icon-tumblr' -%}
                              <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_snapchat_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" target="_blank">
                              {%- render 'icon-snapchat' -%}
                              <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_youtube_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_youtube_link }}" class="link list-social__link" target="_blank">
                              {%- render 'icon-youtube' -%}
                              <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_vimeo_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" target="_blank">
                              {%- render 'icon-vimeo' -%}
                              <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                      </ul>
                    {%- endif -%}
                  </div>
              {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}

    </div>
  {%- endif -%}

  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <div class="visually-hidden h2" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</div>
                <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <div class="caption-large text-body h2" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</div>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                    {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                    {% render 'icon-caret' %}
                  </button>
                  <div class="disclosure__list-wrapper" hidden>
                    <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled">
                      {%- for country in localization.available_countries -%}
                        <li class="disclosure__item" tabindex="-1">
                          <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                            {{ country.name }} <span class="localization-form__currency">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <div class="visually-hidden h2" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</div>
                <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <div class="caption-large text-body h2" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</div>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                    {{ localization.language.endonym_name | capitalize }}
                    {% render 'icon-caret' %}
                  </button>
                  <div class="disclosure__list-wrapper" hidden>
                    <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled">
                      {%- for language in localization.available_languages -%}
                        <li class="disclosure__item" tabindex="-1">
                          <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                            {{ language.endonym_name | capitalize }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
                <li class="list-payment__item">
                  <svg class="icon icon--full-color" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-american_express"><title id="pi-american_express">American Express</title><g fill="none"><path fill="#000" opacity=".3" d="M35,0 L3,0 C1.3,0 0,1.3 0,3 L0,21 C0,22.7 1.4,24 3,24 L35,24 C36.7,24 38,22.7 38,21 L38,3 C38,1.3 36.6,0 35,0 Z"></path><path fill="#006FCF" d="M35,1 C36.1,1 37,1.9 37,3 L37,21 C37,22.1 36.1,23 35,23 L3,23 C1.9,23 1,22.1 1,21 L1,3 C1,1.9 1.9,1 3,1 L35,1"></path><path fill="#FFF" d="M8.971,10.268 L9.745,12.144 L8.203,12.144 L8.971,10.268 Z M25.046,10.346 L22.069,10.346 L22.069,11.173 L24.998,11.173 L24.998,12.412 L22.075,12.412 L22.075,13.334 L25.052,13.334 L25.052,14.073 L27.129,11.828 L25.052,9.488 L25.046,10.346 L25.046,10.346 Z M10.983,8.006 L14.978,8.006 L15.865,9.941 L16.687,8 L27.057,8 L28.135,9.19 L29.25,8 L34.013,8 L30.494,11.852 L33.977,15.68 L29.143,15.68 L28.065,14.49 L26.94,15.68 L10.03,15.68 L9.536,14.49 L8.406,14.49 L7.911,15.68 L4,15.68 L7.286,8 L10.716,8 L10.983,8.006 Z M19.646,9.084 L17.407,9.084 L15.907,12.62 L14.282,9.084 L12.06,9.084 L12.06,13.894 L10,9.084 L8.007,9.084 L5.625,14.596 L7.18,14.596 L7.674,13.406 L10.27,13.406 L10.764,14.596 L13.484,14.596 L13.484,10.661 L15.235,14.602 L16.425,14.602 L18.165,10.673 L18.165,14.603 L19.623,14.603 L19.647,9.083 L19.646,9.084 Z M28.986,11.852 L31.517,9.084 L29.695,9.084 L28.094,10.81 L26.546,9.084 L20.652,9.084 L20.652,14.602 L26.462,14.602 L28.076,12.864 L29.624,14.602 L31.499,14.602 L28.987,11.852 L28.986,11.852 Z"></path></g></svg>
                </li>
                <li class="list-payment__item">
                  <svg class="icon icon--full-color" version="1.1" xmlns="http://www.w3.org/2000/svg" role="img" x="0" y="0" width="38" height="24" viewBox="0 0 165.521 105.965" xml:space="preserve" aria-labelledby="pi-apple_pay"><title id="pi-apple_pay">Apple Pay</title><path opacity=".3" d="M150.698 0H14.823c-.566 0-1.133 0-1.698.003-.477.004-.953.009-1.43.022-1.039.028-2.087.09-3.113.274a10.51 10.51 0 0 0-2.958.975 9.932 9.932 0 0 0-4.35 4.35 10.463 10.463 0 0 0-.975 2.96C.113 9.611.052 10.658.024 11.696a70.22 70.22 0 0 0-.022 1.43C0 13.69 0 14.256 0 14.823v76.318c0 .567 0 1.132.002 1.699.003.476.009.953.022 1.43.028 1.036.09 2.084.275 3.11a10.46 10.46 0 0 0 .974 2.96 9.897 9.897 0 0 0 1.83 2.52 9.874 9.874 0 0 0 2.52 1.83c.947.483 1.917.79 2.96.977 1.025.183 2.073.245 3.112.273.477.011.953.017 1.43.02.565.004 1.132.004 1.698.004h135.875c.565 0 1.132 0 1.697-.004.476-.002.952-.009 1.431-.02 1.037-.028 2.085-.09 3.113-.273a10.478 10.478 0 0 0 2.958-.977 9.955 9.955 0 0 0 4.35-4.35c.483-.947.789-1.917.974-2.96.186-1.026.246-2.074.274-3.11.013-.477.02-.954.022-1.43.004-.567.004-1.132.004-1.699V14.824c0-.567 0-1.133-.004-1.699a63.067 63.067 0 0 0-.022-1.429c-.028-1.038-.088-2.085-.274-3.112a10.4 10.4 0 0 0-.974-2.96 9.94 9.94 0 0 0-4.35-4.35A10.52 10.52 0 0 0 156.939.3c-1.028-.185-2.076-.246-3.113-.274a71.417 71.417 0 0 0-1.431-.022C151.83 0 151.263 0 150.698 0z"></path><path fill="#FFF" d="M150.698 3.532l1.672.003c.452.003.905.008 1.36.02.793.022 1.719.065 2.583.22.75.135 1.38.34 1.984.648a6.392 6.392 0 0 1 2.804 2.807c.306.6.51 1.226.645 1.983.154.854.197 1.783.218 2.58.013.45.019.9.02 1.36.005.557.005 1.113.005 1.671v76.318c0 .558 0 1.114-.004 1.682-.002.45-.008.9-.02 1.35-.022.796-.065 1.725-.221 2.589a6.855 6.855 0 0 1-.645 1.975 6.397 6.397 0 0 1-2.808 2.807c-.6.306-1.228.511-1.971.645-.881.157-1.847.2-2.574.22-.457.01-.912.017-1.379.019-.555.004-1.113.004-1.669.004H14.801c-.55 0-1.1 0-1.66-.004a74.993 74.993 0 0 1-1.35-.018c-.744-.02-1.71-.064-2.584-.22a6.938 6.938 0 0 1-1.986-.65 6.337 6.337 0 0 1-1.622-1.18 6.355 6.355 0 0 1-1.178-1.623 6.935 6.935 0 0 1-.646-1.985c-.156-.863-.2-1.788-.22-2.578a66.088 66.088 0 0 1-.02-1.355l-.003-1.327V14.474l.002-1.325a66.7 66.7 0 0 1 .02-1.357c.022-.792.065-1.717.222-2.587a6.924 6.924 0 0 1 .646-1.981c.304-.598.7-1.144 1.18-1.623a6.386 6.386 0 0 1 1.624-1.18 6.96 6.96 0 0 1 1.98-.646c.865-.155 1.792-.198 2.586-.22.452-.012.905-.017 1.354-.02l1.677-.003h135.875"></path><g><g><path fill="#000" d="M43.508 35.77c1.404-1.755 2.356-4.112 2.105-6.52-2.054.102-4.56 1.355-6.012 3.112-1.303 1.504-2.456 3.959-2.156 6.266 2.306.2 4.61-1.152 6.063-2.858"></path><path fill="#000" d="M45.587 39.079c-3.35-.2-6.196 1.9-7.795 1.9-1.6 0-4.049-1.8-6.698-1.751-3.447.05-6.645 2-8.395 5.1-3.598 6.2-.95 15.4 2.55 20.45 1.699 2.5 3.747 5.25 6.445 5.151 2.55-.1 3.549-1.65 6.647-1.65 3.097 0 3.997 1.65 6.696 1.6 2.798-.05 4.548-2.5 6.247-5 1.95-2.85 2.747-5.6 2.797-5.75-.05-.05-5.396-2.101-5.446-8.251-.05-5.15 4.198-7.6 4.398-7.751-2.399-3.548-6.147-3.948-7.447-4.048"></path></g><g><path fill="#000" d="M78.973 32.11c7.278 0 12.347 5.017 12.347 12.321 0 7.33-5.173 12.373-12.529 12.373h-8.058V69.62h-5.822V32.11h14.062zm-8.24 19.807h6.68c5.07 0 7.954-2.729 7.954-7.46 0-4.73-2.885-7.434-7.928-7.434h-6.706v14.894z"></path><path fill="#000" d="M92.764 61.847c0-4.809 3.665-7.564 10.423-7.98l7.252-.442v-2.08c0-3.04-2.001-4.704-5.562-4.704-2.938 0-5.07 1.507-5.51 3.82h-5.252c.157-4.86 4.731-8.395 10.918-8.395 6.654 0 10.995 3.483 10.995 8.89v18.663h-5.38v-4.497h-.13c-1.534 2.937-4.914 4.782-8.579 4.782-5.406 0-9.175-3.222-9.175-8.057zm17.675-2.417v-2.106l-6.472.416c-3.64.234-5.536 1.585-5.536 3.95 0 2.288 1.975 3.77 5.068 3.77 3.95 0 6.94-2.522 6.94-6.03z"></path><path fill="#000" d="M120.975 79.652v-4.496c.364.051 1.247.103 1.715.103 2.573 0 4.029-1.09 4.913-3.899l.52-1.663-9.852-27.293h6.082l6.863 22.146h.13l6.862-22.146h5.927l-10.216 28.67c-2.34 6.577-5.017 8.735-10.683 8.735-.442 0-1.872-.052-2.261-.157z"></path></g></g></svg>
                </li>
                <li class="list-payment__item">
                  <svg class="icon icon--full-color" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-master"><title id="pi-master">Mastercard</title><path opacity=".3" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>
                </li>
                <li class="list-payment__item">
                  <svg class="icon icon--full-color" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-paypal"><title id="pi-paypal">PayPal</title><path opacity=".3" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path fill="#003087" d="M23.9 8.3c.2-1 0-1.7-.6-2.3-.6-.7-1.7-1-3.1-1h-4.1c-.3 0-.5.2-.6.5L14 15.6c0 .2.1.4.3.4H17l.4-3.4 1.8-2.2 4.7-2.1z"></path><path fill="#3086C8" d="M23.9 8.3l-.2.2c-.5 2.8-2.2 3.8-4.6 3.8H18c-.3 0-.5.2-.6.5l-.6 3.9-.2 1c0 .2.1.4.3.4H19c.3 0 .5-.2.5-.4v-.1l.4-2.4v-.1c0-.2.3-.4.5-.4h.3c2.1 0 3.7-.8 4.1-3.2.2-1 .1-1.8-.4-2.4-.1-.5-.3-.7-.5-.8z"></path><path fill="#012169" d="M23.3 8.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3-.1-.3-.1-.7-.1-1.1-.1h-3c-.1 0-.2 0-.2.1-.2.1-.3.2-.3.4l-.7 4.4v.1c0-.3.3-.5.6-.5h1.3c2.5 0 4.1-1 4.6-3.8v-.2c-.1-.1-.3-.2-.5-.2h-.1z"></path></svg>
                </li>
                <li class="list-payment__item">
                  <svg class="icon icon--full-color" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-visa"><title id="pi-visa">Visa</title><path opacity=".3" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"></path></svg>
                </li>
            </ul>
          </div>
        {%- endif -%}
        <div class="footer__copyright caption">
          <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}®. {{ section.settings.text-copyright }}</small>
          {% if section.settings.show_powered %}<small class="copyright__content">Thème créé par <a href="https://www.fireweb.fr" target="_blank"> Fireweb®</a></small>{% endif %}
        </div>
      </div>
    </div>
    <a href="{{ shop.permanent_domain }}" style="display: none" id="domain">{{ shop.permanent_domain }}</a>
  </div>
</footer>

<!-- Footer Band ~ Fireweb -->
    {% if section.settings.footer_band_enable%}
      {% if section.settings.m_footer_band_text != blank %}
        <div class="band_footer">
          <p class="mob_only">
            {% if section.settings.footer_band_link != blank %}
              {% if section.settings.flash_band_enable%}
                <a class="effect_flash" href="{{ section.settings.footer_band_link }}" target="_blank">{{ section.settings.m_footer_band_text }}</a>
              {% else %}
                <a href="{{ section.settings.footer_band_link }}" target="_blank">{{ section.settings.m_footer_band_text }}</a>
              {% endif %}
            {% else %}
              {% if instructions[page_key_tf_bm] != blank %}
                {{ instructions[page_key_tf_bm] }}
              {% else %}
                {{section.settings.m_footer_band_text}}
              {% endif %}
           {% endif %}
          </p>
        </div>
      {% endif %}
    {% endif %}
<!-- END Footer Band ~ Fireweb -->

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "newsletter_heading",
          "default": "S'abonner à nos e-mails",
          "label": "t:sections.footer.settings.newsletter_heading.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Inscrivez-vous et recevez 10% de remise sur votre première commande 👇</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "paragraph",
          "content": "t:sections.footer.settings.header__1.info"
        },
        {
          "type": "checkbox",
          "id": "newsletter_enable",
          "default": false,
          "label": "Activer le formulaire Klaviyo"
        },
        {
          "type": "text",
          "id": "code_grand_formulaire",
          "label": "Intégration formulaire Klaviyo",
          "info": "Insérez le code dans cette zone, sinon laisser vide."
        },
        {
          "type": "header",
          "content": "t:sections.footer.settings.header__2.content",
          "info": "t:sections.footer.settings.header__2.info"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.settings.show_social.label"
        },
        {
          "type": "header",
          "content": "Ordinateur"
        },
        {
          "type": "checkbox",
          "id": "offdesk-bloc",
          "default": false,
          "label": "Cacher le bloc"
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "checkbox",
          "id": "offmob-bloc",
          "default": false,
          "label": "Cacher le bloc"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Liens rapides",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        },
        {
          "type": "header",
          "content": "Ordinateur"
        },
        {
          "type": "checkbox",
          "id": "offdesk-bloc",
          "default": false,
          "label": "Cacher le bloc"
        },
        {
          "type": "header",
          "content": "Mobile"
        },

        {
          "type": "checkbox",
          "id": "collapsible_menu",
          "label": "Activer le menu dépliant",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "offmob-bloc",
          "default": false,
          "label": "Cacher le bloc"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Titre",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "header",
          "content": "Ordinateur"
        },
        {
          "type": "checkbox",
          "id": "offdesk-bloc",
          "default": false,
          "label": "Cacher le bloc"
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "checkbox",
          "id": "offmob-bloc",
          "default": false,
          "label": "Cacher le bloc"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Résolution recommandée de (336x100), sinon laisser vide."
        },
        {
          "type":"header",
          "content": "🚀 Image Logo SVG",
          "info": "👉 Optimisation Fireweb avec le SVG code"
        },
        {
          "type": "text",
          "id": "svg_logo_footer",
          "label": "🚀 SVG Code (personnalisé)",
          "info": "Insérez le code SVG dans cette zone, sinon laisser vide."
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Largeur de l'image",
          "default": 150
        },
        {
          "type": "header",
          "content": "Ordinateur"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignement de l'image",
          "options": [
            {
              "value": "",
              "label": "Gauche"
            },
            {
              "value": "center",
              "label": "Centre"
            },
            {
              "value": "right",
              "label": "Droite"
            }
          ],
          "default": ""
        },
        {
          "type": "checkbox",
          "id": "offdesk-bloc",
          "default": false,
          "label": "Cacher le bloc"
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "checkbox",
          "id": "offmob-bloc",
          "default": false,
          "label": "Cacher le bloc"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "inverse",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "footer_bottom_menu",
      "default": true,
      "label": "Activer un style sur le lien actif",
      "info": "Un lien en gras et une bordure."
    },
    {
      "type": "checkbox",
      "id": "footer_animation_hover",
      "default": true,
      "label": "Activer une animation au survol",
      "info": "Une barre s'affiche sous le menu."
    },
    {
      "type": "select",
      "id": "footer_style_hover",
      "options": [
        {
          "value": "classic",
          "label": "Classic"
        },
        {
          "value": "animation",
          "label": "Animation"
        }
      ],
      "default": "animation",
      "label": "Style d'animation au survol"
    },
    {
      "type": "select",
      "id": "footer_type_animation",
      "options": [
        {
          "value": "animation-1",
          "label": "Animation 1"
        },
        {
          "value": "animation-2",
          "label": "Animation 2"
        }
      ],
      "default": "animation-2",
      "label": "Type d'animation au survol",
      "info": "Seulement pour le style « Animation »."
    },
    {
    	"type": "header",
    	"content": "Style de bordure supérieur"
    },
	  {
      "type": "checkbox",
      "id": "vague",
      "label": "Afficher un style de bordure",
      "default": false
    },
	  {
      "type": "select",
      "id": "wave",
      "options": [
        { "value": "1", "label": "Style 1"},
        { "value": "2", "label": "Style 2"},
        { "value": "3", "label": "Style 3"},
        { "value": "4", "label": "Style 4"},
        { "value": "5", "label": "Style 5"},
        { "value": "6", "label": "Style 6"},
        { "value": "7", "label": "Style 7"},
        { "value": "8", "label": "Style 8"},
        { "value": "9", "label": "Style 9"},
        { "value": "10", "label": "Style 10"}
      ],
      "default": "8",
      "label": "Style de vague"
    },
    {
        "type": "color",
        "id": "color_border_fond_svg",
        "label": "Couleur du fond",
        "default": "#FFF"
    },
    {
        "type": "color",
        "id": "color_border_svg",
        "label": "Couleur du SVG",
        "default": "#000"
    },
    {
      "type":"header",
      "content": "🚀 SVG bordure supérieur (personnalisé)",
      "info": "👉 Optimisation Fireweb avec le SVG code"
    },
    {
      "type":"html",
      "id":"svg_border_top",
      "label":"🔼 SVG Code Supérieur"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "FOOTER SECOND"
    },
    {
      "type": "color",
      "id": "background_footer-second",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "Copyright"
    },
    {
      "type": "text",
      "id": "text-copyright",
      "label": "Copyright",
      "default": "Créé avec ❤ par Fireweb®."
    },
    {
      "type": "checkbox",
      "id": "show_powered",
      "default": true,
      "label": "Activer le propulsé par Fireweb"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "FOOTER BAND"
    },
    {
      "type": "checkbox",
      "id": "footer_band_enable",
      "label": "Activer"
    },
    {
      "type": "text",
      "id": "m_footer_band_text",
      "label": "Texte du bandeau",
      "default": "Votre texte ici pour la bande de pied de page"
    },
    {
      "type": "text",
      "id": "footer_band_link",
      "label": "Lien du bandeau"
    },
    {
      "type": "header",
      "content": "Effect Flash du texte "
    },
    {
      "type": "checkbox",
      "id": "flash_band_enable",
      "label": "Activer"
    },
    {
      "type": "color",
      "id": "footer_band_bg_color",
      "label": "Couleur arrière-plan",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "footer_band_text_color",
      "label": "Couleur texte",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "footer_band_link_hover_color",
      "label": "Couleur lien hover",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "footer_band_top_border_color",
      "label": "Couleur top bordure",
      "default": "#FFFFFF"
    },
    {
      "type": "text",
      "id": "footer_band_top_border_width",
      "label": "Hauteur top bordure",
      "default": "0px"
    },
    {
      "type": "select",
      "id": "footer_band_text_style",
      "label": "Style du texte",
      "options": [
        {
          "value": "400",
          "label": "Normal",
          "group": "Font Style"
        },
        {
          "value": "600",
          "label": "Bold",
          "group": "Font Style"
        }
      ],
      "default": "400"
    },
    {
      "type": "text",
      "id": "footer_band_text_size",
      "label": "Taille du texte",
      "default": "14px"
    },
    {
      "type": "text",
      "id": "footer_band_height_desktop",
      "label": "Hauteur du bandeau",
      "default": "10px"
    },      
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 30
    },
    {
      "type": "header",
      "content": "Ordinateur"
    },
    {
      "type": "checkbox",
      "id": "offdesk",
      "default": false,
      "label": "Cacher la section"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "checkbox",
      "id": "offmob",
      "default": false,
      "label": "Cacher la section"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "text"
      },
      {
        "type": "link_list"
      },
      {
        "type": "newsletter"
      }
    ]
  }
}
{% endschema %}
