{{ 'section-multitabs.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {% render 'section-style' %}

  {% render 'animation-hover-multitabs' %}

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {% for block in section.blocks %}
    #{{ block.type }}{{ block.id }}:checked ~ .panels #{{ block.type }}{{ block.id }}-panel {
	    display: block;
    }
  {% endfor %}	
{%- endstyle -%}

<div id= "multitabs" class="multicolumn color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="page-width section-{{ section.id }}-padding isolate">
    {%- unless section.settings.title == blank -%}
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      <div class="title {{ section.settings.heading_size }} h2">
        {{ section.settings.title | escape }}
      </div>
      {%- if section.settings.button_label != blank and show_mobile_slider -%}
        <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">{{ section.settings.button_label | escape }}</a>
      {%- endif -%}
    </div>
    {%- endunless -%}
    
    <div class="warpper">
      {% for block in section.blocks %}
        <input class="radio" id="{{ block.type }}{{ block.id }}" name="group" type="radio" {% if block.settings.first %}checked{% endif %}>
      {% endfor %}
      <div class="tabs">
        {% for block in section.blocks %}
          <label class="tab link link--text list-menu__item list-menu__item--link custom-tabs-itm {% if block.settings.first %}list-menu__item--active{% endif %} underline" id="{{ block.type }}{{ block.id }}-tab" for="{{ block.type }}{{ block.id }}" onclick="activeitem('{{ block.type }}{{ block.id }}-tab')"><span>{{ block.settings.text }}</span></label>
        {% endfor %}
      </div>
      <div class="panels color-{{ section.settings.color_scheme }}">
        {% for block in section.blocks %}
          <div class="panel" id="{{ block.type }}{{ block.id }}-panel">
            {{ block.settings.content }}
            {{ block.settings.html }}
            {% if block.settings.page %}
            <div class="multitabs-content-page">
              <h1 class="h2">{{ block.settings.page.title }}</h1>
              {{ block.settings.page.content }}
            </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
  
<script>
  function activeitem(id) {
    const itemtoactive = document.getElementById(id);
    const itemtohide = Array.from(document.getElementsByClassName("custom-tabs-itm"));
    itemtohide.forEach(box => {
      box.classList.remove("list-menu__item--active");
    });
    itemtoactive.classList.add("list-menu__item--active");
  }
</script>

{% schema %}
{
  "name": "Onglets multiples",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.multicolumn.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.multicolumn.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.multicolumn.settings.background_style.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "multitabs_bottom_menu",
      "default": true,
      "label": "Activer un style sur le lien actif",
      "info": "Un lien en gras et une bordure."
    },
    {
      "type": "checkbox",
      "id": "multitabs_animation_hover",
      "default": true,
      "label": "Activer une animation au survol",
      "info": "Une barre s'affiche sous le menu."
    },
    {
      "type": "select",
      "id": "multitabs_style_hover",
      "options": [
        {
          "value": "classic",
          "label": "Classic"
        },
        {
          "value": "animation",
          "label": "Animation"
        }
      ],
      "default": "animation",
      "label": "Style d'animation au survol"
    },
    {
      "type": "select",
      "id": "multitabs_type_animation",
      "options": [
        {
          "value": "animation-1",
          "label": "Animation 1"
        },
        {
          "value": "animation-2",
          "label": "Animation 2"
        }
      ],
      "default": "animation-2",
      "label": "Type d'animation au survol",
      "info": "Seulement pour le style « Animation »."
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 30
    },
    {
      "type": "header",
      "content": "Ordinateur"
    },
    {
      "type": "checkbox",
      "id": "offdesk",
      "default": false,
      "label": "Cacher la section"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "checkbox",
      "id": "offmob",
      "default": false,
      "label": "Cacher la section"
    }
  ],
  "blocks": [
    {
      "type": "onglet",
      "name": "Onglet",
      "settings": [
        {
          "type": "checkbox",
          "id": "first",
          "label": "Activer le premier élément",
          "default": false
        },
        {
          "type": "text",
          "id": "text",
          "label": "Contenu",
          "default": "Titre de l'onglet"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Contenu",
          "default": "<p>Partagez les informations de contact, les détails du magasin et le contenu de la marque avec vos clients.</p>"
        },
        {
          "type": "html",
          "id": "html",
          "label": "Liquid personnalisé"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Page"
        },
        {
          "type": "header",
          "content": "Ordinateur"
        },
        {
          "type": "checkbox",
          "id": "offdesk-bloc",
          "default": false,
          "label": "Cacher le bloc"
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "checkbox",
          "id": "offmob-bloc",
          "default": false,
          "label": "Cacher le bloc"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Onglets multiples",
      "blocks": [
        {
          "type": "onglet"
        },
        {
          "type": "onglet"
        },
        {
          "type": "onglet"
        }
      ]
    }
  ]
}
{% endschema %}
